<ion-view>
    <ion-nav-title>Home</ion-nav-title>
    <ion-content class="padding">
        <button ui-sref="main"  class="button button-dark button-block">Main</button>
    </ion-content>
</ion-view>