<ion-view>
    <ion-nav-title>Main</ion-nav-title>
    <ion-content class="padding">
        <button ui-sref="home"  class="button button-dark button-block">Home</button>
        <button ui-sref="client.checkout"  class="button button-positive button-block">Checkout</button>
    </ion-content>
</ion-view>