<ion-view>
    <ion-nav-title>Checkout</ion-nav-title>
    <div class="bar bar-subheader">
        <h2 class="title">Checkou SubHeader</h2>
    </div>
    <ion-content class="padding has-subheader">
        <h1>Chekout</h1>
        <button ui-sref="home"  class="button button-positive button-block">Home</button>
    </ion-content>
</ion-view>